<div class="container py-3">
  <h4>Is app push service enabled {{swPush.isEnabled}}</h4>

  <div class="btn-group-vertical">
    <button class="btn btn-primary" type="button" (click)="subscribe()">subscribe</button>
    <button class="btn btn-primary" type="button" (click)="unsubscribe()">unsubscribe</button>
    <button class="btn btn-primary" type="button" (click)="removeAll()">remove all subscriptions</button>
  </div>

  <div class="my-4 py-1 border-bottom"></div>

  <input class="form-control" [(ngModel)]="message" placeholder="Enter message to push" />

  <ul class="list-group mt-4">
    <li class="list-group-item d-flex" *ngFor="let sub of allSubscriptions">
      <span>{{sub.info}}</span>
      <button class="ml-auto btn btn-secondary btn-sm" type="button" (click)="push(sub)">send</button>
    </li>
  </ul>
</div>

